<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="">
        ID : <input type="text" name="mb_id"><br>
        PW : <input type="password" name="mb_pw"><br>
        <button id="login" type="button">Login</button>
    </form>
    <section id="result"></section>
    <a href="/"><h1>Back To Main Page</h1></a>
</body>
<script>
    document.getElementById('login').addEventListener('click',function(){
        var mb_id = document.getElementsByName('mb_id')[0].value;
        var mb_pw = document.getElementsByName('mb_pw')[0].value;

        var data = {'mb_id':mb_id,'mb_pw':mb_pw}

        sendAjax('http://localhost:8080/member/login',data);
    })

    function sendAjax(url,data){
        data = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open('POST',url);
        xhr.setRequestHeader('Content-Type','application/json');
        xhr.send(data);

        xhr.addEventListener('load',function(){
            var result = JSON.parse(xhr.responseText);
            showResult(result.message);
            if(result.result === 0) initForm();
            window.location.href = '/';
        })
    }

    function initForm(){
        var form = document.forms[0];
        form.elements[0]
        for (let index = 0; index < form.elements.length; index++) {
            const element = form.elements[index];
            if(element.type != 'button') element.value = '';
        }
    }

    function showResult(message){
        var result = document.getElementById('result');
        result.innerHTML = '<h1>'+message+'</h1>';
    }

</script>
</html>