<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="">
        ID : <input type="text" name="mb_id"><br>
        PW : <input type="password" name="mb_pw"><br>
        <button type="button">Login</button>
    </form>
    <a href="/"><h1>Back To Main Page</h1></a>
</body>
</html>